main {
    padding: 1rem;
    background-image: linear-gradient(90deg, #be9cd6, #ffd6ff, #ffc6ff);
    margin-left: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    overflow: auto;
  }